.interaction-list{

    background:white;

    margin-top:35px;

    padding:30px;

    border-radius:12px;

    box-shadow:0 5px 18px rgba(0,0,0,.08);

}

.interaction-list h2{

    color:#1E3A8A;

    margin-bottom:20px;

}

table{

    width:100%;

    border-collapse:collapse;

}

th{

    background:#2563EB;

    color:white;

    padding:14px;

}

td{

    padding:14px;

    border-bottom:1px solid #ddd;

}

td button{

    background:#16A34A;

    color:white;

    border:none;

    padding:8px 14px;

    border-radius:6px;

    cursor:pointer;

}

td button:hover{

    background:#15803D;

}